:root {
    --color-blue: #0285ee;
    --color-lavender: #887dff;
    --color-brighterpurple: #590042;
    --color-brightpurple: #380051;
    --color-purple: #29014b;
    --color-violet: #2d003d;
    --color-darkviolet: #24001c;
    --color-lightyellow: #f1e002;
    --color-yellow: #c39c0b;
    --color-gold: #d09601;
    --color-brown: #432102;
    --color-browner: #491900;
    --color-redbrown: #2b0700;
    --color-yellowbrown: #272401;
    --color-darkredbrown: #1c0e00;
    --color-red: #5c0014;
    --color-darkred: #2c0013;
    --color-darkestred: #1a0005;
}
